.rm_word:hover {
  cursor: pointer;
}
#listenBtn { /* needed by ReadingMonitor  */
  background-color: transparent;
  color: transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: none;
  outline:none;
}
.rm_word_current {
  text-decoration: underline;
/*  font-weight: bold; */
}
.rm_word_current {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.rm_word_current_1 {
  text-decoration: none;
  border-bottom: 2px solid black;
}
.rm_word_current_2 {
  text-decoration: none;
  border-bottom: 3px solid black;
}
.rm_word_current_3 {
  text-decoration: none;
  border-bottom: 3px solid black;
}
.rm_word_fillin {
  display: inline-block; /* Be careful of unintended side effects  */
  min-width:40px;
  text-decoration: none;
  border-bottom: 1px dashed black;
  padding-left: 10px;
  padding-right: 10px;
}
.rm_word_hidden
{
  color: rgba(0,0,0,0.0); /* transparent */
}
